
.parent {
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    &:before {
        content: "";
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #ccc;
        position: absolute;
        left: 0;
        top: 18px;
        display: block;
    }
    &.toggle {
        display: block;
        .children {
            display: none;
        }
    }
    .children {
        padding-left: 20px;
        font-size: 13px;
    }
    .childList {
        padding: 10px;
        &.even {
            background-color: #fafafa;
        }
    }
}